<h2>Available Courses</h2>

<!-- Loading -->

<p *ngIf="isLoading">
    Loading courses...
</p>

<!-- Courses -->

<div *ngIf="!isLoading">

    <div *ngIf="courses.length > 0; else noCourses">

        <app-course-card

            *ngFor="let c of courses; trackBy: trackByCourseId"

            [course]="c">

        </app-course-card>

    </div>

</div>

<!-- Else Template -->

<ng-template #noCourses>

    <p>No courses available.</p>

</ng-template>

<app-course-card
  *ngFor="let c of courses; trackBy: trackByCourseId"
  [course]="c">
</app-course-card>