.card{

border:1px solid gray;

padding:15px;

margin:10px;

border-radius:10px;

width:220px;

box-shadow:0 2px 5px rgba(0,0,0,.2);

}

.passed{

background:green;

color:white;

padding:5px;

border-radius:5px;

display:inline-block;

}

.failed{

background:red;

color:white;

padding:5px;

border-radius:5px;

display:inline-block;

}

.pending{

background:gray;

color:white;

padding:5px;

border-radius:5px;

display:inline-block;

}